<h1 class="newpage">New Book Page</h1>
<div class= "new">
      <div>
            <%= render 'form' %>'
      </div>
      <div class="newimg2">
            <img src="https://media.istockphoto.com/photos/young-woman-is-reading-book-picture-id1007168074?s=612x612">
      </div>
</div>